<%- include('../partials/header') %>
    
    <h2>Current Wish</h2> 
    <h3>Your Wish:</h3>
    <h4><%= wish.selfWish %></h4>
    <h3>Pool Wish:</h3>
    <h4><%= wish.poolWish %></h4>
    <form action="/wishes/pool/<%= wish._id %>?_method=DELETE"
      id="delete-form" method="POST">
      <button type="submit">Delete Wish</button>
    </form>

    <h2>change your wish below!</h2>
 <form action="/wishes/pool/<%= wish._id %>?_method=PUT" method="POST">
     <label>Your Wish:<br>
        <textarea name="selfWish" id="" cols="30" rows="10"></textarea>
       </label><br>
         <label>Pool Wish:<br>
            <textarea name="poolWish" id="" cols="30" rows="10"></textarea>
         </label><br>
    <input type="submit" value="Add Details">
 </form>
 </body>
</html>